<!DOCTYPE html>
<html lang="en">
    <head>
        <title> E-shop </title>
        {% block bootstrap %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">{% endblock %}
        {% block addi_css %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
