{% extends 'base.html' %}
{% load mptt_tags %}
{% block content %}

<h1>Catalog</h1>

<div>
    <form action="" method="get">
            <label for="checkbox">Hide unavailable</label>
            <input type="checkbox" name="checkbox" id="checkbox" {% if save %} checked {% endif %}>
            <input type="submit" value="Update">
    </form>
</div>

<div>
    <a href="{% url 'stats' %}">Show statistics</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">

        <ul class="root">
        {% recursetree category_tree %}
            <li>
                <a href="{% url 'catalog_filter' filter=node.name %}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                        <li>
                            <a href="{% url 'catalog_filter' filter=node.name %}">
                            All
                            </a>
                        </li>
                    </ul>
                </a>
                {% endif %}
            </li>
        {% endrecursetree %}
        </ul>

    </div>
    <div class="col-md-8">
        <ul>
            {% for product in product_list %}
            <li>
                <a href="{% url 'product_detail' pk=product.id %}">
                    {{ product }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>

{% endblock %}
